@font-face {
  font-family: bebasFont;
  src: url('./assets/bebas/Bebas-Regular.otf'),
       url('./assets/bebas/Bebas-Regular.ttf'); 
}

:root { /*<html>*/
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root { /*React's equivalent to <body>*/
  margin: 0 auto;
  padding: 1rem;
  padding-bottom: 2.5rem;
  background-image: linear-gradient(#87CEEB, #34609b);
}

#full-page {
  min-height: 100vh;
  max-width: 1280px;
  min-width: 320px;
  margin: auto;
  margin-top: 3rem;
}

h1.no-entries-message {
  margin-top: 5rem;
  text-align: center;
  color: rgb(215, 237, 246);
}

/* NAVBAR */
a.navbar-item {
  color: #a4d6e0 !important;
}
a.navbar-item:hover {
  color: #ffeb84 !important;
}
a.navbar-tab.active {
  color: #e8c618 !important;
}
#library-navbar{
  background-color:#1c334e;
}
#nav-container {
  padding-left: 1rem;
  padding-right: 1rem;
}
/* brand */
#book-brand {
  padding-right: 1rem;
  font-size: 1.3em;
  line-height: 0em;
  color: #e8c618 !important;
}
#book-brand:hover {
  color: #ffeb84 !important;
}
#text-brand {
  font-family: bebasFont;
}
/* icons */
#nav-icons {
  margin-right: 1rem;
}
#nav-icons .list-group-item {
  padding-left: .75rem;
  padding-right: .75rem;
  background-color: inherit;
  border: 0;
  font-size: 1.6em;
  line-height: .8em;
}
.active a#editMode {
  color: #e8c618 !important;
}
.active a#editMode:hover {
  color: #ffeb84 !important;
}
/* search */
#search-form {
  width: 35%;
}
.dropdown-toggle::before {
  display: none !important; 
}
#search-dropdown {
  padding: 0rem !important;
  border: 0;
  background-color: inherit; 
  color: #a4d6e0;
}
#search-dropdown:hover {
  color: #ffeb84;
}
/* hamburger menu */
#toggle {
  padding-left: 0;
  padding-right: 1.3rem;
  border: 0px;
  color: #1c334e;
}
#toggle .navbar-toggler-icon {
  background-image: url("./assets/hamburger-default.svg");
}
#toggle .navbar-toggler-icon:hover {
  background-image: url("./assets/hamburger-hover.svg");
}

/* FOOTER */
div.footer {
  position: fixed;
  padding: 20px;
  left: 0;
  bottom: 0;
  height: 60px;
  width: 100%;
}
.page-item .page-link {
  border: 0;
  color: #a4d6e0 !important;
  background: #1c334e !important;
}
.page-item .page-link:hover {
  color: #e8c618 !important;
}
.page-item.active .page-link {
  color: #fff !important;
  background: #1a4d87 !important;
}
.page-item.active .page-link:hover {
  color: #e8c618 !important;
}

/* ENTRIES */
.media-card {
  margin-top: .25rem; /* spacing between cards */
  margin-bottom: .25rem;
  padding: .5rem; /* spacing between card contents and borders */
  background-color: rgba(221, 245, 255, .3) !important;
}
.media-card .list-group-item {
  background-color: #edfbff; /* DUPLICATE */
  color: #1c334e !important; /* DUPLICATE */
}
#card-icons a {
  padding-left: .5rem;
  font-size: 1.4em;
  color: #34619b69 !important; /* #65a0d7 #34609b */
}
#card-icons a:hover {
  color: #ffeb84 !important;
}
a.link-title {
  text-decoration: none;
  color: #34609b;
}
a.link-title:hover {
  color: #e8c618;
}
.media-row-outer {
  margin-top: .05rem;
  margin-bottom: .05rem;
  padding: .3rem; 
  background-color: rgba(221, 245, 255, .2) !important;
  color: #000000 !important;
}
.media-row-inner {
  margin: 0;
  padding: .3rem;
  padding-left: .6rem;
  padding-right: .6rem;
  background-color: #edfbff !important; /* DUPLICATE */
  color: #1c334e !important; /* DUPLICATE */
}

/* MODALS */
div.modal-content {
  background-color: #f4feff;
  color: #1c334e;
}
div.modal-content .form-control {
  margin-bottom: 1rem;
}
div.btn-group.modal-options {
  margin-top: 1rem;
}
.nav-tabs { 
  background-color: #a8e0ef;
}

/* LANDING */
div.card.landing {
  background-color: #ffffff2b;
  color: #f4feff;
}

div.card.landing.welcome {
  margin-top: 1rem;
}
div.card.landing.welcome .card-title {
  padding: 3rem;
  border-radius: 25px;
  outline: 3px solid #87CEEB ;
  outline-offset: -6px;
  background-color: #edfbff;
  font-size: 3em;
  font-family: bebasFont;
  text-align: center;
  color: #1c334e ; /*  #e8c618 #87CEEB #1c334e #34609b */
}
div.card.landing.welcome .card-text {
  padding: 3rem;
  margin-right: 10%;
  font-size: 1.3em;
}

#landing-break {
  margin: 2rem;
  text-align: center;
  font-size: 1.5em;
  color: #ffeb84;
}

div.card.landing.construction {
  padding: 2rem;
}
div.card.landing.construction .card-title {
  padding: 1rem;
  border-radius: 25px;
  outline: 3px solid #e8c618 ;
  outline-offset: -6px;
  background-color: #1c334e;
  font-size: 2em;
  font-family: bebasFont;
  text-align: center;
  color: #e8c618 ; 
}
div.card.landing.construction .card-subtitle {
  margin: 1.5rem;
  margin-bottom: 1rem;
  font-size: 1.5em;
}
div.card.landing.construction .card-text {
  margin-left: 2.5rem;
}

/* ALL CARDS */
div.card {
  border: 0;
}